:root {
	--cor-primaria: hsl(0, 0%, 12%);
	--cor-primaria-opaca: hsla(0, 0%, 12%, 0.8);
	--cor-secundaria: hsl(0, 0%, 88%);
	--cor-secundaria-opaca: hsl(0, 0%, 88%, 0.55);
	--cor-terciaria-1: hsl(0, 0%, 22%);
	--cor-terciaria-1-opaca: hsla(0, 0%, 22%, 0.8);
	--cor-terciaria-2: hsl(0, 0%, 30%);
	--cor-terciaria-2-opaca: hsla(0, 0%, 30%, 0.8);
	--cor-terciaria-3: hsl(0, 0%, 78%);
	--cor-terciaria-3-opaca: hsla(0, 0%, 78%, 0.8);
	--cor-hover: red;
	--opacidade-padrao: rgba(0, 0, 0, 0.6);
	--fonte-principal: "Inter", sans-serif;
	--tamanho-fonte: 16px;
	--cor-fonte-primaria: hsl(0, 0%, 0%);
	--cor-fonte-secundaria: hsl(0, 0%, 100%);
	--espacamento-letra: 1px;
	--altura-linha: 30px;
}

* {
	padding: 0;
	margin: 0;
	font-family: var(--fonte-principal);
}

body {
	width: 100vw;
	height: auto;
	background-color: var(--cor-primaria);
	overflow: hidden;

	/* background-color: var(--cor-terciaria-1); */
	color: var(--cor-fonte-secundaria);
	font-size: var(--tamanho-fonte);
	/* letter-spacing: var(--espacamento-letra); */
}

/* seção garagem */
.containerGaragemDosSonhos {
	width: 100%;
	height: 100vh;
}
.containerGaragemDosSonhos #telaEntrada {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0.6) 100%
		),
		url(../assets/backgrounds/background-entrada.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundEntrada button {
	position: absolute;
	top: 5%;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	font-size: 14px;
	letter-spacing: var(--espacamento-letra);
	border: outset 3px white;
}

.containerGaragemDosSonhos .backgroundEntrada #logout {
	left: 5%;
	width: 7%;
	height: 6%;
}

.containerGaragemDosSonhos .backgroundEntrada #dashboard {
	right: 5%;
	width: 12%;
	height: 6%;
}

.containerGaragemDosSonhos .backgroundEntrada button:hover {
	cursor: pointer;
}
.containerGaragemDosSonhos .backgroundEntrada button:active {
	border: inset 3px white;
}

.containerGaragemDosSonhos .backgroundEntrada button img {
	height: 2.5vh;
	/* filter: invert(100%); */
}
.containerGaragemDosSonhos .backgroundEntrada h1 {
	display: flex;
	justify-content: center;
	align-items: end;
	color: white;
	letter-spacing: var(--espacamento-letra);
	width: 100%;
	height: 25%;
	font-size: 28px;
}
.containerGaragemDosSonhos .backgroundEntrada .containerEntrada {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 75%;
}
.containerGaragemDosSonhos .backgroundEntrada .containerEntrada .botaoEntrar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 22%;
	height: 58%;
	background-color: var(--cor-secundaria);
	border-radius: 10px;
	border: outset 3px var(--cor-primaria-opaca);
}
.containerGaragemDosSonhos
	.backgroundEntrada
	.containerEntrada
	.botaoEntrar:hover {
	cursor: pointer;
}
.containerGaragemDosSonhos
	.backgroundEntrada
	.containerEntrada
	.botaoEntrar:active {
	border: inset 3px var(--cor-primaria-opaca);
}
.containerGaragemDosSonhos .backgroundEntrada .containerEntrada .botaoEntrar p {
	display: flex;
	justify-content: start;
	align-items: center;
	width: auto;
	padding-right: 10%;
	margin-right: 13%;
	font-size: 22px;
	font-weight: bold;
	color: brown;
	border-bottom: 1px solid brown;
}
.containerGaragemDosSonhos
	.backgroundEntrada
	.containerEntrada
	.botaoEntrar
	img {
	height: 50%;
	width: auto;
}
.containerGaragemDosSonhos .backgroundEntrada .containerEntrada .loja img {
	height: 60%;
	width: auto;
}
.containerGaragemDosSonhos .backgroundEntrada .containerEntrada .loja p {
	margin-right: 35%;
}

.containerGaragemDosSonhos #telaGaragem {
	width: 100%;
	height: 100%;
	background-image: url(../assets/backgrounds/background-garagem.png);
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	display: none;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem {
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--cor-primaria-opaca);
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .voltar {
	width: 6%;
	height: 75%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .voltar:hover {
	cursor: pointer;
}
.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .voltar:active {
	border: inset 3px white;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .voltar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .voltar span {
	font-size: 10px;
}
.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .user {
	width: 44%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .user img {
	height: 9vh;
	border-radius: 5px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao {
	height: 8vh;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao
	.nome {
	font-size: 16px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao
	.cidade
	img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao
	.cidade
	span {
	font-size: 11px;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .preco {
	width: 44%;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}
/* .containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	.tituloPrecoTotal {
	margin-right: 22px;
} */

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco
	img {
	height: 3vh;
	margin-left: 5px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco
	.precoMotos {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-left: 10px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco
	.precoMotos
	#precoTotalGaragem {
	margin-left: 5px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.headerGaragem
	.preco
	#infoPrecoGaragem {
	position: absolute;
	top: 10%;
	right: 9%;
	font-size: 11px;
	background-color: black;
	height: 50px;
	width: 12%;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid white;
	display: none;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .adicionar {
	width: 6%;
	height: 75%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .adicionar:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .adicionar:active {
	border: inset 3px white;
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .adicionar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragemDosSonhos .backgroundGaragem .headerGaragem .adicionar span {
	font-size: 10px;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem {
	width: 100%;
	height: 88%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes {
	position: absolute;
	width: 80%;
	height: 88%;
	display: none;
	justify-content: center;
	align-items: center;
	margin: 0 10%;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto {
	background-color: var(--cor-terciaria-3-opaca);
	color: var(--cor-primaria);
	width: 60%;
	height: 50%;
	border-radius: 10px;
	z-index: 2;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	#fecharDetalhes {
	position: absolute;
	top: 24%;
	left: 20%;
	width: 25px;
	height: 25px;
	border: outset 2px var(--cor-primaria-opaca);
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	#fecharDetalhes:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	#fecharDetalhes:active {
	border: inset 2px var(--cor-primaria-opaca);
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.imagem {
	width: 50%;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.imagem
	#detalhesImagem {
	width: 100%;
	height: auto;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes {
	width: 50%;
	height: auto;
	height: fit-content;
	border: 2px solid var(--cor-primaria);
	border-radius: 5px;
	padding: 10px;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	p {
	display: flex;
	justify-content: start;
	align-items: end;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	width: 50%;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	span {
	font-weight: normal;
	margin-left: 5px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid brown;
	width: 100%;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#logoMarca {
	height: 30px;
	width: auto;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#detalhesMarca {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#detalhesPreco {
	color: brown;
	font-size: 22px;
	display: flex;
	justify-content: end;
	align-items: end;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	font-weight: bold;
	margin-bottom: 5px;
	margin: 20px 0px 30px 0;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo
	#detalhesModelo {
	font-size: 28px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo
	#modeloCheck {
	width: 30px;
	height: auto;
	filter: opacity(30%);
	/* filter: brightness(90%); */
	margin-right: 10px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.especificacoesTecnicas {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.especificacoesTecnicas
	.motorizacao {
	width: 50%;
	border-right: 1px solid var(--cor-primaria);
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.especificacoesTecnicas
	.autonomia {
	padding-left: 10px;
	text-align: start;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	button {
	width: 40%;
	height: 30px;
	border-radius: 25px;
	font-size: 14px;
	border: outset 2px var(--cor-primaria-opaca);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	button:hover {
	cursor: pointer;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	button:active {
	border: inset 2px var(--cor-primaria-opaca);
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	#botaoComprar {
	background-color: rgba(0, 100, 0, 0.8);
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	#botaoVender {
	background-color: rgba(100, 0, 0, 0.8);
	display: none;
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	img {
	width: auto;
	height: 15px;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .motoAnterior {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .motoAnterior img {
	height: 8vh;
	filter: invert(1);
}

.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.motoAnterior
	img:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .moto {
	height: 100%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: end;
	padding-bottom: 20px;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .moto img {
	height: 300px;
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.moto
	#motocicletaAtual:hover {
	cursor: pointer;
}

#motocicletaGetIn {
	display: none;
	position: absolute;
	margin-right: 1500px;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .proximaMoto {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundGaragem .mainGaragem .proximaMoto img {
	height: 8vh;
	filter: invert(1);
}
.containerGaragemDosSonhos
	.backgroundGaragem
	.mainGaragem
	.proximaMoto
	img:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos #telaLoja {
	width: 100%;
	height: 100%;
	background-image: url(../assets/backgrounds/background-loja.png);
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	display: none;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja {
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--cor-primaria-opaca);
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .voltar {
	width: 6%;
	height: 75%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragemDosSonhos .backgroundLoja .headerLoja .voltar:active {
	border: inset 3px white;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .voltar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .voltar span {
	font-size: 10px;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .user {
	width: 44%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .user img {
	height: 9vh;
	border-radius: 5px;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .user .userDescricao {
	height: 8vh;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.user
	.userDescricao
	.nome {
	font-size: 16px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.user
	.userDescricao
	.cidade
	img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.user
	.userDescricao
	.cidade
	span {
	font-size: 11px;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .preco {
	width: 44%;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.preco
	.tituloPrecoTotal {
	margin-right: 22px;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .preco .caixaPreco {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .preco .caixaPreco img {
	height: 3vh;
	margin-left: 5px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.preco
	.caixaPreco
	.precoMotos {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-left: 10px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.headerLoja
	.preco
	.caixaPreco
	.precoMotos
	#precoTotalLoja {
	margin-left: 5px;
}
.containerGaragemDosSonhos .backgroundLoja .headerLoja .preco #infoPrecoLoja {
	position: absolute;
	top: 10%;
	right: 9%;
	font-size: 11px;
	background-color: black;
	height: 40px;
	width: 12%;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid white;
	display: none;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .dashboard {
	width: 6%;
	height: 75%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragemDosSonhos .backgroundLoja .headerLoja .dashboard:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .dashboard:active {
	border: inset 3px white;
}

.containerGaragemDosSonhos .backgroundLoja .headerLoja .dashboard img {
	height: 3vh;
	filter: invert(100%);
}
.containerGaragemDosSonhos .backgroundLoja .headerLoja .dashboard span {
	font-size: 10px;
}
.containerGaragemDosSonhos .backgroundLoja .mainLoja {
	width: 100%;
	height: 88%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .motoAnterior {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .motoAnterior img {
	height: 8vh;
	filter: invert(1);
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .motoAnterior img:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .containerMotoAtual {
	min-height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35%;
	width: 70%;
	color: var(--cor-primaria);
	background-color: var(--cor-terciaria-3-opaca);
	border-radius: 10px;
	margin: 5px 0px 10px 0px;
	padding: 10px 5px;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.tituloDetalhe {
	font-weight: bold;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
	width: 85%;
	margin-bottom: 10px;
	border-bottom: 2px solid brown;
	letter-spacing: var(--espacamento-letra);
}
#detalhesModeloLoja {
	color: brown;
	font-size: 24px;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.subtitle {
	display: flex;
	justify-content: start;
	align-items: end;
	width: 85%;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: var(--espacamento-letra);
	margin-bottom: 10px;
}
#logoMarcaLoja {
	height: 30px;
	margin-right: 5px;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 60px;
	letter-spacing: var(--espacamento-letra);
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.main
	.motorizacaoLoja {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	line-height: 20px;
	width: 50%;
	height: 100%;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.sobreAMoto
	.main
	.especificacoesLoja {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	line-height: 20px;
	width: 50%;
	height: 100%;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .containerMotoAtual .moto {
	max-height: 60%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: end;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 20%;
	width: 50%;
	color: var(--cor-primaria);
	background-color: hsla(0, 0%, 78%, 0.9);
	border-radius: 10px;
	margin: 5px 0px 40px 0px;
	padding: 10px 5px;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.modalMotosDetalhes
	p {
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 10px;
}
.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.modalMotosDetalhes
	span {
	font-size: 22px;
	color: brown;
	font-weight: bold;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	button {
	width: 25%;
	height: 32px;
	border-radius: 25px;
	font-size: 14px;
	border: outset 2px var(--cor-primaria-opaca);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	button:hover {
	cursor: pointer;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	button:active {
	border: inset 2px var(--cor-primaria-opaca);
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	.botaoConfirmar {
	background-color: rgba(0, 100, 0, 0.8);
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	.botaoCancelar {
	background-color: rgba(100, 0, 0, 0.8);
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	.modalMotos
	.botoes
	img {
	width: auto;
	height: 15px;
}

.containerGaragemDosSonhos
	.backgroundLoja
	.mainLoja
	.containerMotoAtual
	.moto
	img {
	max-height: 280px;
}

#motocicletaAtualLoja:hover {
	cursor: pointer;
}
#motocicletaGetInLoja {
	display: none;
	position: absolute;
	z-index: 1;
	margin-right: 1500px;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .proximaMoto {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragemDosSonhos .backgroundLoja .mainLoja .proximaMoto img {
	height: 8vh;
	filter: invert(1);
}
.containerGaragemDosSonhos .backgroundLoja .mainLoja .proximaMoto img:hover {
	cursor: pointer;
}

/* CLASSES DE ANIMAÇÃO DOS SLIDERS */
.motoLeftIn {
	animation: motoLeftIn 1s;
}
.motoLeftOut {
	animation: motoLeftOut 1s;
}
.motoRightIn {
	animation: motoRightIn 1s;
}
.motoRightOut {
	animation: motoRightOut 1s;
}

/* KEYFRAMES DE ANIMAÇÃO DOS SLIDERS */
@keyframes motoLeftIn {
	0% {
		margin-right: 1500px;
	}

	100% {
		margin-right: 0px;
	}
}
@keyframes motoLeftOut {
	0% {
		margin-left: 0px;
	}

	100% {
		margin-left: 1500px;
	}
}
@keyframes motoRightIn {
	0% {
		margin-left: 1500px;
	}

	100% {
		margin-left: 0px;
	}
}
@keyframes motoRightOut {
	0% {
		margin-right: 0px;
	}

	100% {
		margin-right: 1500px;
	}
}
