:root {
	--cor-primaria: hsl(0, 0%, 12%);
	--cor-primaria-opaca: hsla(0, 0%, 12%, 0.8);
	--cor-secundaria: hsl(0, 0%, 88%);
	--cor-secundaria-opaca: hsl(0, 0%, 88%, 0.55);
	--cor-terciaria-1: hsl(0, 0%, 22%);
	--cor-terciaria-1-opaca: hsla(0, 0%, 22%, 0.8);
	--cor-terciaria-2: hsl(0, 0%, 30%);
	--cor-terciaria-2-opaca: hsla(0, 0%, 30%, 0.8);
	--cor-terciaria-3: hsl(0, 0%, 78%);
	--cor-terciaria-3-opaca: hsla(0, 0%, 78%, 0.8);
	--cor-hover: red;
	--opacidade-padrao: rgba(0, 0, 0, 0.6);
	--fonte-principal: "arial";
	--tamanho-fonte: 16px;
	--cor-fonte-primaria: hsl(0, 0%, 0%);
	--cor-fonte-secundaria: hsl(0, 0%, 100%);
	--espacamento-letra: 1px;
	--altura-linha: 30px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--cor-primaria);
	overflow-x: hidden;
}

/* Header, navbar e menu */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cor-terciaria-1-opaca);
	width: 100%;
	height: 60px;
	padding: 5px 0;
	color: var(--cor-fonte-secundaria);
	font-size: var(--tamanho-fonte);
	letter-spacing: var(--espacamento-letra);
}

header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: auto;
	margin: 0 10%;
}

header .navbar .logo {
	width: 30%;
	display: flex;
	justify-content: start;
	align-items: center;
}

header .navbar .logo img {
	height: 75px;
	width: auto;
}

header .navbar #marcaNavbar {
	filter: invert(30%);
	width: 40%;
	rotate: 20deg;
	position: absolute;
	top: 0%;
	right: -3%;
	z-index: -1;
}

/* header .navbar #rodaMenu:hover {
	rotate: 180deg;
} */

header .navbar .navOptions {
	width: 40%;
}

header .navbar .navOptions .navItem {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 18px;
}

/* header .navbar .navOptions .inativo:hover {
	cursor: pointer;
} */

/* header .navbar .navOptions .ativo {
	text-decoration: underline;
} */

header .navbar .menu {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 30%;
}
header .navbar .menu img {
	height: 65px;
	width: auto;
}

main {
	/* background-color: var(--cor-terciaria-1); */
	width: 100%;
	height: auto;
	color: var(--cor-fonte-secundaria);
	font-size: var(--tamanho-fonte);
	/* letter-spacing: var(--espacamento-letra); */
}

/* Introdução e imagens de motos */
.containerIntro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin: 0 10%;
}

.containerIntro .intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}
.containerIntro .intro img {
	width: 800px;
}
.containerIntro .intro p {
	width: 40%;
	font-size: 30px;
}
.containerIntro .intro .imagemMoto {
	width: 40%;
}

.containerIntro .trail img {
	position: relative;
	left: -90%;
}
.containerIntro .trail p {
	text-align: start;
}

.containerIntro .speed img {
	position: relative;
	z-index: 1;
}
.containerIntro .speed p {
	text-align: end;
}

.containerIntro #pistaoIntro {
	filter: opacity(30%);
	width: 3%;
	rotate: -40deg;
	position: absolute;
	top: 15%;
	left: 35%;
	z-index: -1;
}
.containerIntro #amortecedorIntro {
	filter: opacity(30%);
	width: 5%;
	rotate: 40deg;
	position: absolute;
	top: 30%;
	right: 10%;
	z-index: -1;
}
.containerIntro #ferramentasIntro {
	filter: opacity(30%);
	width: 5%;
	rotate: 40deg;
	position: absolute;
	top: 90%;
	right: 40%;
	z-index: -1;
}
.containerIntro #velaIntro {
	filter: opacity(30%);
	width: 3%;
	rotate: -40deg;
	position: absolute;
	top: 115%;
	left: 20%;
	z-index: -1;
}

/* sobre viajar de moto, contexto */
.backgroundSobre {
	background-image: url("../Rascunhos/Banco-de-Imagens/paisagem-floresta-rodovia.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}
.containerSobre {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: auto;
	margin: 0 5%;
	padding: 5% 0;
}

.containerSobre h3 {
	font-size: 30px;
	margin-bottom: 8%;
	background-color: var(--cor-secundaria-opaca);
	color: var(--cor-primaria);
	margin-right: 10px;
	padding: 0 1%;
	border-radius: 10px;
}

.containerSobre .contexto {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--cor-secundaria);
	width: 95%;
	font-size: 20px;
	padding: 3%;
	border-radius: 10px;
}
.containerSobre .contexto p {
	margin: 0 2%;
	width: 34%;
	background-color: hsla(0, 0%, 12%, 0.1);
	border-radius: 10px;
}

.containerSobre .contexto .textLeft {
	text-align: left;
}
.containerSobre .contexto .textRight {
	text-align: right;
}

.containerSobre #marcaSobre {
	filter: invert(30%);
	width: 120%;
	rotate: 5deg;
	position: absolute;
	top: 165%;
	left: -3%;
	z-index: 0;
}

/* seção garagem */
.tampaMoto {
	width: 10%;
	height: 100vh;
	position: absolute;
	z-index: 2;
	margin: 5% 0%;
	background-color: var(--cor-primaria);
}
.tampaLeft {
	left: 0%;
}
.tampaRight {
	right: -1%;
	width: 10.5%;
}
.containerGaragem {
	text-align: center;
	width: 80%;
	height: 100vh;
	margin: 5% 10%;
}
.containerGaragem h3 {
	font-size: 30px;
	margin-bottom: 3%;
	color: var(--cor-secundaria);
}

.containerGaragem .backgroundLogin {
	width: 100%;
	height: 90%;
	background-image: url(../Rascunhos/Banco-de-Imagens/background-login.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 5px;
}
.containerGaragem .backgroundLogin .containerLogin {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
}
.containerGaragem .backgroundLogin .containerLogin .botaoEntrar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 20%;
	height: 40%;
	background-color: var(--cor-terciaria-3-opaca);
	border-radius: 10px;
	border: outset 3px var(--cor-primaria-opaca);
}
.containerGaragem .backgroundLogin .containerLogin .botaoEntrar:active {
	border: inset 3px var(--cor-primaria-opaca);
}
.containerGaragem .backgroundLogin .containerLogin .botaoEntrar p {
	font-size: 22px;
	font-weight: bold;
	color: var(--cor-fonte-primaria);
}
.containerGaragem .backgroundLogin .containerLogin .botaoEntrar img {
	height: 40%;
	width: auto;
}
.containerGaragem .backgroundLogin .containerLogin .loja img {
	height: 50%;
}

.containerGaragem #telaGaragem {
	width: 100%;
	height: 90%;
	background-image: url(../Rascunhos/Banco-de-Imagens/background-garagem.png);
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 5px;
	display: none;
}

.containerGaragem .backgroundGaragem .headerGaragem {
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--cor-primaria-opaca);
}

.containerGaragem .backgroundGaragem .headerGaragem .voltar {
	width: 4%;
	height: 55%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragem .backgroundGaragem .headerGaragem .voltar:active {
	border: inset 3px white;
}

.containerGaragem .backgroundGaragem .headerGaragem .voltar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragem .backgroundGaragem .headerGaragem .user {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerGaragem .backgroundGaragem .headerGaragem .user img {
	height: 9vh;
	border-radius: 5px;
}

.containerGaragem .backgroundGaragem .headerGaragem .user .userDescricao {
	height: 8vh;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.containerGaragem .backgroundGaragem .headerGaragem .user .userDescricao .nome {
	font-size: 16px;
}

.containerGaragem
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao
	.cidade
	img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragem
	.backgroundGaragem
	.headerGaragem
	.user
	.userDescricao
	.cidade
	span {
	font-size: 11px;
}

.containerGaragem .backgroundGaragem .headerGaragem .preco {
	width: 40%;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.containerGaragem .backgroundGaragem .headerGaragem .preco .caixaPreco {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.containerGaragem .backgroundGaragem .headerGaragem .preco .caixaPreco img {
	height: 3vh;
	margin-right: 10px;
}

.containerGaragem
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco
	.precoMotos {
	display: flex;
	align-items: center;
	justify-content: end;
	min-width: 22%;
}

.containerGaragem
	.backgroundGaragem
	.headerGaragem
	.preco
	.caixaPreco
	.precoMotos
	#precoTotal {
	margin-left: 2px;
}

.containerGaragem .backgroundGaragem .headerGaragem .adicionar {
	width: 4%;
	height: 55%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}

.containerGaragem .backgroundGaragem .headerGaragem .adicionar:active {
	border: inset 3px white;
}

.containerGaragem .backgroundGaragem .headerGaragem .adicionar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragem .backgroundGaragem .mainGaragem {
	width: 100%;
	height: 88%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.containerGaragem .backgroundGaragem .mainGaragem .containerModalDetalhes {
	position: absolute;
	width: 80%;
	height: 88%;
	display: none;
	justify-content: center;
	align-items: center;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto {
	background-color: var(--cor-terciaria-3-opaca);
	color: var(--cor-primaria);
	width: 60%;
	height: 50%;
	margin-bottom: 6%;
	border-radius: 10px;
	z-index: 2;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	#fecharDetalhes {
	position: absolute;
	top: 19%;
	left: 20%;
	width: 25px;
	height: 25px;
	border: outset 2px var(--cor-primaria-opaca);
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	#fecharDetalhes:active {
	border: inset 2px var(--cor-primaria-opaca);
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.imagem {
	width: 50%;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.imagem
	#detalhesImagem {
	width: 100%;
	height: auto;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes {
	width: 50%;
	height: fit-content;
	border: 2px solid var(--cor-primaria);
	border-radius: 5px;
	padding: 15px 10px;
}
.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	p {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	span {
	font-weight: normal;
	margin-left: 5px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid brown;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#logoMarca {
	width: 10%;
	height: auto;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#detalhesMarca {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.marcaPreco
	#detalhesPreco {
	color: brown;
	font-size: 22px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	font-weight: bold;
	margin-bottom: 5px;
	margin: 20px 0px 30px 0;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo
	#detalhesModelo {
	font-size: 28px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.modelo
	#modeloCheck {
	width: 30px;
	height: auto;
	filter: opacity(30%);
	/* filter: brightness(90%); */
	margin-right: 10px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.especificacoesTecnicas {
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 100%;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.especificacoesTecnicas
	.motorizacao {
	width: 50%;
	border-right: 1px solid var(--cor-primaria);
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	button {
	width: 40%;
	height: 30px;
	border-radius: 25px;
	font-size: 14px;
	border: outset 2px var(--cor-primaria-opaca);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}
.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	button:active {
	border: inset 2px var(--cor-primaria-opaca);
}
.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	#botaoComprar {
	background-color: rgba(0, 100, 0, 0.8);
}
.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	#botaoVender {
	background-color: rgba(100, 0, 0, 0.8);
	display: none;
}

.containerGaragem
	.backgroundGaragem
	.mainGaragem
	.containerModalDetalhes
	.detalhesMoto
	.especificacoes
	.botoes
	img {
	width: auto;
	height: 15px;
}

.containerGaragem .backgroundGaragem .mainGaragem .motoAnterior {
	height: 100%;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragem .backgroundGaragem .mainGaragem .motoAnterior img {
	height: 10vh;
	filter: invert(1);
}

.containerGaragem .backgroundGaragem .mainGaragem .moto {
	height: 100%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: end;
	padding-bottom: 20px;
}

.containerGaragem .backgroundGaragem .mainGaragem .moto img {
	height: 300px;
}
#motocicletaGetIn {
	display: none;
	position: absolute;
	z-index: 1;
	margin-right: 1500px;
}
#motocicletaGetOut {
	position: absolute;
	z-index: 1;
	display: none;
}

.containerGaragem .backgroundGaragem .mainGaragem .proximaMoto {
	height: 100%;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGaragem .backgroundGaragem .mainGaragem .proximaMoto img {
	height: 10vh;
	filter: invert(1);
}

.containerGaragem #telaLoja {
	width: 100%;
	height: 90%;
	background-image: url(../Rascunhos/Banco-de-Imagens/background-loja.png);
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 5px;
	display: none;
}

.containerGaragem .backgroundLoja .headerLoja {
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--cor-primaria-opaca);
}

.containerGaragem .backgroundLoja .headerLoja .voltar {
	width: 4%;
	height: 55%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}
.containerGaragem .backgroundLoja .headerLoja .voltar:active {
	border: inset 3px white;
}

.containerGaragem .backgroundLoja .headerLoja .voltar img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragem .backgroundLoja .headerLoja .user {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerGaragem .backgroundLoja .headerLoja .user img {
	height: 9vh;
	border-radius: 5px;
}

.containerGaragem .backgroundLoja .headerLoja .user .userDescricao {
	height: 8vh;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.containerGaragem .backgroundLoja .headerLoja .user .userDescricao .nome {
	font-size: 16px;
}

.containerGaragem .backgroundLoja .headerLoja .user .userDescricao .cidade img {
	height: 3vh;
	filter: invert(100%);
}

.containerGaragem
	.backgroundLoja
	.headerLoja
	.user
	.userDescricao
	.cidade
	span {
	font-size: 11px;
}

.containerGaragem .backgroundLoja .headerLoja .preco {
	width: 40%;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.containerGaragem .backgroundLoja .headerLoja .preco .caixaPreco {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.containerGaragem .backgroundLoja .headerLoja .preco .caixaPreco img {
	height: 3vh;
	margin-right: 10px;
}

.containerGaragem .backgroundLoja .headerLoja .preco .caixaPreco .precoMotos {
	display: flex;
	align-items: center;
	justify-content: end;
	min-width: 22%;
}

.containerGaragem
	.backgroundLoja
	.headerLoja
	.preco
	.caixaPreco
	.precoMotos
	#precoTotal {
	margin-left: 2px;
}

.containerGaragem .backgroundLoja .headerLoja .adicionar {
	width: 4%;
	height: 55%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px;
	border: outset 3px white;
}

.containerGaragem .backgroundLoja .headerLoja .adicionar:active {
	border: inset 3px white;
}

.containerGaragem .backgroundLoja .headerLoja .adicionar img {
	height: 3vh;
	filter: invert(100%);
}

.motoLeftIn {
	animation: motoLeftIn 1s;
}
.motoLeftOut {
	animation: motoLeftOut 1s;
}
.motoRightIn {
	animation: motoRightIn 1s;
}
.motoRightOut {
	animation: motoRightOut 1s;
}

@keyframes motoLeftIn {
	0% {
		margin-right: 1500px;
	}

	100% {
		margin-right: 0px;
	}
}
@keyframes motoLeftOut {
	0% {
		margin-left: 0px;
	}

	100% {
		margin-left: 1500px;
	}
}
@keyframes motoRightIn {
	0% {
		margin-left: 1500px;
	}

	100% {
		margin-left: 0px;
	}
}
@keyframes motoRightOut {
	0% {
		margin-right: 0px;
	}

	100% {
		margin-right: 1500px;
	}
}
